html,body {
  overflow: auto;
  min-height: 100%;
}


body {
  background-image: url("https://www.riotgames.com/sites/default/files/asset-kit-assets/Lissandra_howling_abyss_Freljord.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(225px, auto);
  margin: 0 5%;
  width: 100%;
}

#content-output {
  grid-column: 1/4;
  grid-row: 1/3;
  grid-area: "image";
  min-width: 450px;
  display: flex;
}

#content {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 460px;
  height: auto;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  border-radius: 5px;
}

.champion-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}

.content-item {
  font-size: 1em;
}

#quote {
  text-align: center;
  width: 100%;
}

#quote > i {
      font-size:1.3em;
      margin-right: 0.4em;
      color: grey;
    }

.message {
  display: inline;
  font-size: 1.6em;
  margin-bottom: 0;
}

#author {
  padding-top: 20px;
  margin-left: auto;
}

#content-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px;
}

#media-btn {
  align-self: flex-start;
}

#quote-btn {
  margin-left: auto;
}

@media screen and (max-width: 530px){
        .grid-container{
     margin: 0;
        }
  .champion-img {
    padding: 0 10px;
  }
    }

@media screen and (max-width: 1080px){
  #content {
  grid-column: 2/3;
  grid-row: 3;
  }
    }